<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chuck Facts</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="chuck" v-cloak>

        <h1>{{appName}}</h1>
        <p>Get a random fact from the
            <select v-model="selected">
            <option value="any">Any</option>
            <option v-for="category in categories">{{category}}</option>
          </select> category

            <button v-on:click="getFact"> Get Fact </button>
        </p>

        <p>- or -</p>
        <input v-model="searchQuery" placeholder="Search for a fact">
        <button v-on:click="searchFact"> Search </button>

        <h3 v-if="queryHistory.length">Previous searches: {{queryHistory.toString()}}</h3>

        <p v-show="isFetchingAFact">Fetching...</p>

        <div v-show="showSelect">
            <h3 v-show="!isFetchingAFact">{{currentFact}}</h3>
        </div>

        <div v-show="showSearch">
            <p v-if="searchResults.length">Search Results</p>
            <ol>
                <li v-for="fact in searchResults">{{fact}}</li>
            </ol>
        </div>

    </div>

    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

</body>

</html>